@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

button {
  /* display: block; */
  font-family: "Roboto Mono", monospace;
  height: 40px;
  width: 300px;
  background-color: darkred;
  color: antiquewhite;
  font-size: 1rem;
}

body {
  background-color: #1f1f1f;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

p {
  background-color: skyblue;
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  gap: 40px;
  padding-top: 40px;
  max-height: 100vh;
}

.scoreboard {
  margin-top: 60px;
  display: flex;
  color: antiquewhite;
  justify-content: space-around;
  width: 100%;
}

.outcome {
  color: antiquewhite;
  font-size: 60px;
}

.result {
  display: flex;
  gap: 50px;
  color: antiquewhite;
  font-size: 24px;

  text-align: center;
}
